body{
	background-color: #F8F8FF;
	font-family: arial;
}

h1{
	color: blue;
	font-size: 4.5em;
	font-weight: normal;
	font-family: 'Source Code Pro', monospace;
}

h2{
	font-variant: small-caps;
}

h1, h2, h3{
	font-family: impact;
}

span{
    color: red;
    font-weight: bold;
    }

a{
	font-weight: bold;
}

p{
	color: rgba(0,0,0,0.5);
	font-family: 'Source Code Pro', monospace;
	line-height: 1.2em;
	border: 1px solid red
}



span{
	background-color: LightBlue;
}
/*
.red, h2{
background-color: red;
}

.green{
background-color: green;
}

p.blue{
background-color: blue;
}
/* with p, the style is more specify than with p */
/*
a{
	color: red;
}

.red a, .green a{
	color: white;
}

.blue a{
	color: yellow;
}
*/
.seen.bad{
	color: silver;
}
/* when you have to put a space in the class, put a "." instead of the space*/
.seen.good{
	color: LimeGreen;
}

.unseen{
	color: #FA8072;
}

#biography a{
	text-decoration: none;
}

#biography a:hover{
	text-decoration: underline;
}

